@{
    ViewData["Title"] = "Usuario";
}
@model User


<div class="row">
    <div class="col-lg-4">
        <div class="left-content">
            <div class="inner-content">
                <hr />
                <h4 class="display-4"> @Model.FirstName @Model.LastName</h4>
                <hr />
                <h5 >Bienvenido a FIT CENTER</h5>
                <hr />
                <h6>FIT CENTER es un gimnasio que ofrece clases de calistenia, pesas, crossfit y speeding</h6>
                <hr />
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="main-banner header-text">
            <div class="Modern-Slider">
                <div class="item">
                    <div class="img-fill">
                        <img src="~/images/Index.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>