@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a FIT CENTER</h1>
    <p>FIT CENTER es un gimnasio que ofrece clases de calistenia, pesas, crossfit y speeding</p>
</div>
