@{
    ViewData["Title"] = "About Us";
}

<div class="inner-content">
            <h1>@ViewData["Title"]</h1>
            <div class="main-white-button">
                <p>Bienvenidos a nuestro gimnasio. Somos un equipo de entrenadores y profesionales dedicados a ayudarte a alcanzar tus objetivos de fitness y salud.
                    Desde nuestro inicio, nos hemos esforzado por crear un ambiente acogedor y amigable para todos nuestros miembros. Nos enorgullecemos de ofrecer una variedad de clases y programas diseñados para adaptarse a las necesidades y horarios de cada persona.
                    Nuestros entrenadores son expertos en su campo y están dedicados a proporcionar a nuestros miembros la mejor experiencia posible. Nos esforzamos por crear un ambiente motivador y enriquecedor para que puedas alcanzar tus objetivos y mejorar tu bienestar general.
                    En nuestro gimnasio, creemos que el fitness es más que solo levantar pesas o correr en una cinta. Se trata de adoptar un estilo de vida saludable y sostenible que te ayude a alcanzar tus metas personales, ya sea perder peso, aumentar tu fuerza o simplemente sentirte mejor en tu piel.
                    Estamos aquí para apoyarte en cada paso del camino. ¡Únete a nuestra comunidad y comienza tu viaje hacia una vida más saludable y activa hoy!</p>
            </div>
</div>

